:root {
    --color-one: #181818;
    --color-two: #474747;
    --color-three: #EBE9EA;
    --color-four: #F6F6F6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.only-header {
    user-select: none;
}

.onlys-header-sub {
    background: var(--color-one);
    padding: 10px;
}

.only-compre {
    font: 500 12px 'Montserrat';
    text-align: center;
    color: var(--color-four);
}

.onlys-header-primary {
    padding: 20px;
    background: var(--color-four);
}

.only-logo h1 {
    text-align: center;
    font: 600 24px 'Montserrat';
}

.only-banner-comerci {
    background-image: url(/public/image/Mask\ Group.png);
    background-size: cover;
    width: 100%;
    height: 378px;
}

.background {
    background: var(--color-one);
    opacity: 0.6;
    width: 100%;
    height: 378px;
    position: absolute;
}

.onlys-banner-infos {
    position: relative;
    height: 100%;
    max-height: 378px;
    display: grid;
    align-items: center;
}

.onlys-banner-infos {
    margin-left: 100px;
}

.onlys-banner-infos h3 {
    color: var(--color-four);
    font: 700 30px 'Montserrat';
    margin-bottom: 15px;
}

.onlys-banner-infos p {
    color: var(--color-four);
    font: 600 15px 'Montserrat';
}

.only-lolja, html {
    background: var(--color-four);
}

.only-detaq, .line-product {
    margin-top: 50px;
    text-align: center;
}

.only-detaq h4 {
    font: 600 30px 'Montserrat';
    color: var(--color-one);
}

.only-detaq p {
    font: 500 15px 'Montserrat';
    color: var(--color-two);
    margin-top: 10px;
}

.line-product {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-product {
    user-select: none;
}

.product-jordan {
    margin-left: 10px;
}

#jordan {
    margin-left: 0;
}

.product-jordan {
    background-color: var(--color-three);
    width: 300px;
    height: 302px;
    border-radius: 5px;
}

.product-jordan {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-jordan:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.5s;
}

.only-main {
    margin-bottom: 100px;
}

.only-footer {
    background: var(--color-one);
    padding: 15px;
}

.only-footer {
    user-select: none;
}

.copyright-jordan p {
    font: 500 15px 'Montserrat';
    text-align: center;
    color: var(--color-four);
}

@media screen and (max-width: 1276px) {
    .products {
        text-align: center;
    }

    .line-product {
        display: inline-block;
    }

    #jordan, .line-product, .product-jordan {
        margin: 0;
    }

    #line {
        margin-right: 15px;
    }

    .product-jordan {
        margin-top: 15px;
    }

    .products {
        margin-top: 50px;
    }

}

@media screen and (max-width: 664px) {
    .onlys-banner-infos {
        margin-left: 25px;
    }

    .line-product {
        display: grid;
    }

    #line {
        margin-bottom: 15px;
        margin-right: 0;
    }
}